p{
    color: #FFFFFF;
    position: absolute;
    padding: 91px;
    display: flex;
    justify-content: center;

    font-weight: 500;
    font-size: 40px;
    line-height: 16px;
    margin-top: 200px;


}

form{
    position: absolute;
    display: flex;
    z-index: 3;
    object-fit: contain;
    width: 822px;
    height: 597px;
    left: 53px;
    top: 98px;
}


.dropbg-image{
    display: flex;
    z-index: -3;
    width: 822px;
    height: 597px;
    left: 53px;
    top: 98px;
}

.selected_files-container{
    padding-inline-start: 10rem;
    padding-top: 20px;
}
